---
import PostPreview from "../components/PostPreview.astro";
import PageLayout from "../layouts/PageLayout.astro";
import type { Post } from "../types";

const LATEST_POSTS_COUNT = 3;

interface MarkdownPosts {
	frontmatter: Post;
	url: string;
}

// Use Astro.glob() to fetch all posts, and then sort them by date.
const markdownPosts = (await Astro.glob(
	"./blog/*.{md,mdx}"
)) as MarkdownPosts[];

const posts = markdownPosts
	.sort(
		(a, b) =>
			new Date(b.frontmatter.pubDate).valueOf() -
			new Date(a.frontmatter.pubDate).valueOf()
	)
	.slice(0, LATEST_POSTS_COUNT);
---

<PageLayout>
	<h2>My lastest articles</h2>
	<section>
		{
			posts.map((post) => (
				<PostPreview
					date={post.frontmatter.pubDate}
					description={post.frontmatter.description}
					title={post.frontmatter.title}
					url={post.url}
				/>
			))
		}
	</section>
</PageLayout>
