---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import me from "/me.jpeg";
---

<header>
	<h2>
		<img height={80} width={80} src={me} alt="Image of an author" />
		<a href="/">{SITE_TITLE}</a>
	</h2>
	<nav>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink
			href="https://www.linkedin.com/in/szymon-swiergosz"
			target="_blank">LinkedIn</HeaderLink
		>
		<HeaderLink href="https://github.com/sSwiergosz" target="_blank">
			GitHub
		</HeaderLink>
	</nav>
</header>
<style>
	a {
		text-decoration: none;
	}
	header {
		margin: 0em 0 2em;
	}
	h2 {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		margin: 0.5em 0;
	}
	img {
		border-radius: 50%;
	}
	nav a {
		border-radius: 5px;
		padding: 5px 10px;
	}
</style>
