---
import { mainLinkColor, mainHeadingColor } from "../styles/const";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style define:vars={{ mainLinkColor, mainHeadingColor }}>
	a {
		color: var(--mainLinkColor);
		display: inline;
		position: relative;
		overflow: hidden;
	}
	a:after {
		content: "";
		position: absolute;
		z-index: -1;
		right: 0;
		width: 0;
		bottom: -5px;
		background: var(--mainHeadingColor);
		height: 2px;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	a:hover:after,
	a:focus:after,
	a:active:after {
		left: 0;
		right: auto;
		width: 100%;
	}

	a.active {
		font-weight: bolder;
	}
</style>
