---
export interface Props {
  date: string;
  description: string;
  title: string;
  url: string;
}

const { date, description, title, url } = Astro.props;
---

<a href={url}>
  <div class="wrapper">
    <h3>{title}</h3>
    <time class="date">{date}</time>
    <p class="description">{description}</p>
    <p class="read-more">Read the article ➡️</p>
  </div>
</a>

<style>
  .date {
    font-size: 0.875rem;
    font-style: italic;
  }

  .description {
    font-size: 1rem;
  }

  .read-more {
    color: #ab3428;
    font-size: 1rem;
    margin: 0;
  }

  .title {
    font-size: 1.125rem;
  }

  .wrapper {
    background-color: #0f2435;
    border: 1px solid #0f2435;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 15px;
    transition: border-color 0.4s ease;
  }

  .wrapper:hover {
    border-color: #fff;
  }

  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
</style>
