---
import {
  mainHeadingColor,
  mainLinkColor,
  mainLightBackgroundColor,
} from "../styles/const";
export interface Props {
  date: string;
  description: string;
  title: string;
  url: string;
}

const { date, description, title, url } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("pl-PL");
---

<a href={url}>
  <div class="wrapper">
    <h3>{title}</h3>
    <time class="date">{formattedDate}</time>
    <p class="description">{description}</p>
    <p class="read-more">Read the article ➡️</p>
  </div>
</a>

<style
  define:vars={{ mainHeadingColor, mainLinkColor, mainLightBackgroundColor }}
>
  .date {
    font-size: 0.875rem;
  }

  .description {
    font-size: 1rem;
  }

  .read-more {
    color: var(--mainLinkColor);
    font-size: 1rem;
    margin: 0;
  }

  .title {
    font-size: 1.125rem;
  }

  .wrapper {
    background-color: var(--mainLightBackgroundColor);
    border: 1px solid var(--mainLightBackgroundColor);
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 15px;
    transition: border-color 0.4s ease;
  }

  .wrapper:hover {
    border-color: #fff;
  }

  h3 {
    color: var(--mainHeadingColor);
    margin: 0;
  }

  a {
    text-decoration: none;
  }
</style>
