---
import type { Post } from "../types";
import PageLayout from "./PageLayout.astro";
import { mainHeadingColor, mainLinkColor } from "../styles/const";

export interface Props {
	content: Post;
}

const {
	content: { title, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<PageLayout>
	<article>
		{
			heroImage && (
				<img
					width={720}
					height={360}
					src={heroImage}
					alt="Astro image"
					data-sizes="100vw"
				/>
			)
		}
		<h1 class="title">{title}</h1>
		{pubDate && <time>{pubDate}</time>}
		{
			updatedDate && (
				<div>
					Last updated on <time>{updatedDate}</time>
				</div>
			)
		}
		<hr />
		<span class="article-content">
			<slot />
		</span>
	</article>
</PageLayout>

<style define:vars={{ mainHeadingColor, mainLinkColor }}>
	.title {
		color: var(--mainHeadingColor);
		font-size: 2em;
		margin: 0.25em 0 0;
	}
	hr {
		margin: 1rem 0;
	}
	.article-content {
		text-align: justify;
	}
	article :global(a) {
		color: var(--mainLinkColor);
	}
</style>
