---
import type { Post } from "../types";
import PageLayout from "./PageLayout.astro";
import { mainHeadingColor, mainLinkColor } from "../styles/const";

export interface Props {
	content: Post;
}

const {
	content: { title, pubDate, updatedDate, heroImage, infoboxText },
} = Astro.props;
---

<PageLayout>
	<article>
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<h1 class="title">{title}</h1>
		{pubDate && <time>{pubDate}</time>}
		{
			updatedDate && (
				<div>
					Last updated on <time>{updatedDate}</time>
				</div>
			)
		}
		<hr />
		<slot />
	</article>
</PageLayout>

<style define:vars={{ mainHeadingColor, mainLinkColor }}>
	.title {
		color: var(--mainHeadingColor);
		font-size: 2em;
		margin: 0.25em 0 0;
	}
	hr {
		margin: 1rem 0;
	}
	article :global(a) {
		color: var(--mainLinkColor);
	}
</style>
